<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Upload Image</title>
  <meta name="description" content="Description Goes Here">
</head>
<body>
  <!-- // if scripts is required add: -->
  <!-- <script src="js/scripts.js"></script> -->
  <h1>
    Upload Image
  </h1>
</body>
</html>